body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
  }
  
  .header {
    margin-bottom: 20px;
  }
  
  .header h2 {
    margin-bottom: 10px;
  }
  
  .flashcard {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    margin: 20px auto 10px;
    text-align: center;
  }
  
  #sub-topic {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  #question {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  #answer {
    font-size: 16px;
    font-style: italic;
    display: none;
    margin-top: 10px;
  }
  
  .button-container {
    margin-top: 10px;
  }
  
  .button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
  }
  
  .button-green {
    background-color: green;
  }
  
  .button-green:hover {
    background-color: darkgreen;
  }
  
  .button-orange {
    background-color: orange;
  }
  
  .button-orange:hover {
    background-color: darkorange;
  }
  
  .button-blue {
    background-color: blue;
  }
  
  .button-blue:hover {
    background-color: darkblue;
  }
  
  .button-red {
    background-color: red;
  }
  
  .button-red:hover {
    background-color: darkred;
  }
  